{% extends 'shaman/base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block body_block %}
  {% load static %}
  <div class="row">
    <div class="col-md-3">
      <div class="menu-title">
        Полезное
      </div>
      <ul class="menu">
        {% for category in categories %}
          {% if category.name != "Устав" and category.name != "История" %}
            <a href="{% url 'category' category.pk %}"><li>{{ category.name }}</li></a>
            {% if category.pk == 1 %}
              <a href="{% url 'clans' %}"><li>Список кланов</li></a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <center>
        <div class="menu-title">
          {{category.name}}
        </div>
      </center><br><br>
      {% if category.name == 'Новости' %}
        {% for n in articles %}
          <div class="news">
            <div class="news-title">
              {{n.title}}
            </div>
            <div class="news-text">
              {% autoescape off %}
                {{n.content}}
              {% endautoescape %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% autoescape off %}
          {{articles.0.content}}
        {% endautoescape %}
      {% endif %}
    </div>
  </div>
{% endblock %}