{% extends 'shaman/base.html' %}
{% load clans %}

{% block title %}Устав клана{% endblock %}

{% block body_block %}
  {% load static %}
  <div class="row">
    <div class="col-md-3">
      <div class="menu-title">
        Полезное
      </div>
      <ul class="menu">
        {% for category in categories %}
          <a href="{% url 'category' category.pk %}"><li>{{ category.name }}</li></a>
          {% if category.pk == 1 %}
            <a href="{% url 'clans' %}"><li>Список кланов</li></a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-9">
      <center>
        <div class="menu-title">
          Устав клана
        </div>
      </center><br><br>
      {% autoescape off %}
        {{ustav.content}}
      {% endautoescape %}
    </div>
  </div>
{% endblock %}