/* Basic */
html, body {
    padding: 0px;
    font-size: 14px;
    font-family: "Verdana", sans-serif;
    height: 100%;
}

/* Wrap */

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    width: 1200px;
}

/* Footer */

#push,
#footer {
    height: 266px;
    width: 1200px;
    margin: auto;
}

#footer {
    background-image: url('images/footer.png');
    color: #fff;
    a {
        color: #fff;
    }
}

.header {
    background-image: url('images/header.png');
    width: 1200px;
    height: 445px;
}

.menu-title {
  height: 53px;
  width: 300px;
  font-size: 18px;
  color: #000;
  font-weight: bold;
  background-image: url('images/title_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 18px 0 0 0;
}

.menu {
  color: #000;
  margin: 20px 0px 0 -42px;
  list-style: none;
  li {
    border-bottom: 1px solid black;
    height: 50px;
    width: 250px;
    line-height: 2.5em;
    padding: 7px 0 0 7px;
    &:hover {
      text-decoration: none;
      background-color: #ccc;
    };
  }
  a {
    color: #000;
    text-decoration: none !important;
    &:hover {
      text-decoration: none !important;
    };
    &:hover {
      text-decoration: none;
      background-color: #ccc;
    };
  }
}

.news {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  background-color: #f6f6f6;
}

.news-title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.char-login {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8em;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}

.header-menu {
  position: absolute;
  margin: 390px 0 0 300px;
  height: 50px;
  width: 600px;
}

.top-menu-item {
  margin: 0 25px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: #ccc;
    }
  }
}

.counter {
  position: absolute;
  margin: 100px 0 0 200px;
}